<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciando Sesión...</title>
</head>
<body>
<p style="font-family: sans-serif; text-align: center; margin-top: 50px;">
    Iniciando sesión, por favor espera...
</p>

<script th:inline="javascript">
    // Leer los parámetros codificados del modelo de Spring
    const userJsonEncoded = [[${userJsonEncoded}]];
    const userRole = [[${userRole}]];
    const accessTokenEncoded = [[${accessTokenEncoded}]];

    //Decodificar
    const decodedUserJson = decodeURIComponent(userJsonEncoded);
    const decodedAccessToken = decodeURIComponent(accessTokenEncoded);

    //Guardar en Session Storage
    sessionStorage.setItem('userJson', decodedUserJson);
    sessionStorage.setItem('userRole', userRole);
    sessionStorage.setItem('accessToken', decodedAccessToken);

    //Redireccionar al panel del usuario
    if (userRole === 'admin') {
        window.location.href = '/admin';
    } else if (userRole === 'contributor') {
        window.location.href = '/contributor';
    } else {
        window.location.href = '/';
    }

</script>
</body>
</html>